<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="catalogue restaurant for you" />
    <meta name="theme-color" content="#ffdd4b" />
    <meta name="title" content="MEALS" />
    <meta
      name="description"
      content="website ini merupakan submission untuk DICODING yang berisikan data-data tentang restaurant"
    />
    <meta
      name="keywords"
      content="restaurant, meal, dicoding, submission, expert, menu, food, drink,"
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="preconnect" href="https://restaurant-api.dicoding.dev" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="./assets/icons/meals.svg" />
    <link rel="apple-touch-icon" href="./assets/icons/meals-192x192.png" />
    <link rel="manifest" href="./app.webmanifest" />

    <title>MEALS</title>
  </head>
  <body>
    <a href="#mainContent">skip to content</a>
    <nav-bar id="navbar" class="navbar--page-scrol"></nav-bar>
    <main id="mainContent"></main>
    <footer>
      <p>MEALS Copyright &copy 2022 | dicoding submission menerapkan PWA</p>
    </footer>
  </body>
</html>
